@use '../abstracts/mixins' as *;

.app-frame {
  display: flex;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;

  &__main {
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    min-width: 0;
    flex: 1 1 auto;
    padding-bottom: 6rem;

    @include md {
      padding-bottom: 0;
    }
  }
}
