# ─────────────────────────────────────────────────────────────────────────────
# ==ПЕРЕМЕННЫЕ ОКРУЖЕНИЯ ДЛЯ РАЗВОРАЧИВАНИЯ В DOCKER==
# Переменные окружения для docker-compose с уже с рабочими дефолтами под сеть compose
# для быстрого разворачивания можно запускать как есть, отредактировав по необходимости.
# ─────────────────────────────────────────────────────────────────────────────

# ПРОД-режим
IS_DEV=false

# Порт rari-сервера внутри контейнера (сикс-севен)
PORT=6767

# Внешний API шлюз
SUSU_API_BASE=https://online.susu.ru/microgateway

# Redis в docker-compose не поднимается, предполагается, что он уже установлен и запущен на сервере.
REDIS_URL=redis://127.0.0.1:6379

# Путь к файлу SQLite ВНУТРИ контейнера
# БД переживает пересборку и перезапуск контейнера.
SQLITE_PATH=data/database.db

# TTL кеша секундах
SCHEDULE_TTL=3600
RATING_TTL=600

# Заголовок с реальным IP клиента (для счётчика уникальных IP)
# Приложение за nginx: обычно x-forwarded-for или x-real-ip
TRUSTED_IP_HEADER=x-forwarded-for

# Начальный админ: userId, которому открыта статистика (опционально)
# Можно оставить пустым и добавлять админов в любой момент скриптом (внутри контейнера):
# bun run addadmin <userId>
ADMIN_SEED=
